"*":
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "exception-reporting":
    userId: "a08ada32-1e2a-4526-ba7e-ecd97b07ade0"
  "julia-client":
    enableMenu: true
    enableToolBar: true
    launchOnStartup: true
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
